.listProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

.divProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    gap: 1rem;
}

.img {
    flex-shrink: 0;
    width: 82.259px;
    height: 80px;
    border-radius: 5px;
    background: var(--color-gray-100);
}

.namePrice {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonTrash {
    flex-shrink: 0;
    color: #BDBDBD;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}